# python cache
__pycache__
*.pyc
# virtualenv
venv
# visualstudio code
.vscode
*.swp
# logs
*.log
# configuration
config.yaml
# make profile
main.prof
# make bin
build
pycatdetector.bin
pycatdetector.xml
