# python cache
__pycache__
*.pyc
# virtualenv
venv
# temporal file
*.swp
# videos
videos
# logs
logs
*.log
# configuration
config.yaml
# make profile
profile
main.prof
# make bin
build
pycatdetector.bin
pycatdetector.xml
# test
.pytest_cache
.coverage
