# make (docker.)run

# General
PyYAML==6.0.2
colorlog==6.9.0
matplotlib==3.10.3

# OpenCV 4.12.0.88 requires numpy<2.3.0
numpy==2.2.6
# OpenCV latest available version at 19.Jul.2025
opencv-python==4.12.0.88

# Remove +cpu for NVIDIA CUDA support
# https://pytorch.org/get-started/locally/
# https://github.com/pytorch/pytorch/issues/29745#issuecomment-553588171
# --find-links https://download.pytorch.org/whl/torch_stable.html
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.7.1+cpu
torchvision==0.22.1+cpu

# Discord Webhook
# https://github.com/lovvskillz/python-discord-webhook
discord-webhook==1.4.1