# make run

# General
numpy==1.23  # https://github.com/apache/mxnet/issues/21165
colorlog==6.7.0

# Neural Net v1 - MXNet
# ./venv/lib/python3.10/site-packages/gluoncv/__init__.py
# Comment the line: # _require_mxnet_version('1.4.0', '2.0.0')
# To fix conflict with PyTorch and MXNet requirements
mxnet==1.9.1
gluoncv==0.10.5

# Neural Net v2 - PyTorch
torch==2.2.2+rocm5.7
torchvision==0.17.2+rocm5.7
pytorch-triton-rocm==2.2.0
